/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 body {
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 1224px;
    font-family: verdana, arial, helvetica, sans-serif;
 }

 .thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 200px;
 }

 .cover {
    padding-right: 20px;
    width: 400px;
 }
 
 .card {
    border: 1px solid #ddd;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
 }

 .icon {
    font-size: 24px;
    position: absolute;
    padding-top: 10px;
 }

 .name-column {
    width: 200px;
 }